@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>IPET Nro. 411 <a href="https://www.instagram.com/ipetnoetinger/?hl=es">Especialidad Programación</a>.</p>
</div>
